# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/*
design_docs/cut_content/
!run/patchouli_books
/design_docs/living_downgrade_template.md
/design_docs/living_upgrade_template.md
